.featured {
    height: 250px;
}

img {
    object-fit: cover;
    height: 600px;
    width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }